html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #e5e5e5;
  --primary-background-color: #ffffff;
  --card-set-item: 30px;
}

/* general parameters */
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;

  font-family: Roboto, sans-serif;
}

/* ==========  HEADER  =========== */
header {
  border-bottom: solid 1px rgba(236, 236, 236, 1);
}

header .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: inline-block;
  margin-right: 93px;
}
a.logo {
  /* padding: 24px 0px 25px 0px; */
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-color {
  color: #000000;
}
.logo-color-footer {
  color: #ffffff;
}
.list {
  list-style: none;
}
/*========== NAV  ========= */

.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: inline-block;
  /* margin-right: 50px; */
}

.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}
.site-nav-link-current {
  color: var(--accent-color);

  display: inline-block;
  /* margin-right: 50px; */
}

.nav-container-item a {
  display: block;
  align-items: center;
  padding: 32px 0;
}
.list.nav-container :not(:last-child) {
  margin-right: 50px;
  /* display: flex; */
}
.nav-container {
  display: flex;
  /* padding-top: 24px;
  padding-bottom: 25px; */
}
/* ========= CONTACTS ======= */
.contacts {
  color: var(--primary-text-color);
  display: inline-block;
  /* margin-left: 50px; */
  font-size: 14px;
  font-style: 500;
  line-height: 1.17;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* .heaer-nav {
  padding-bottom: 32px;
  padding-top: 32px;
  padding-left: 93px;
} */

/* ======== MAIN SECTION  ======= */
.banner {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 15px;
  padding-right: 15px;
}
.main-title {
  padding: 200px 252px 280px 252px;
  min-width: 696px;
  margin-bottom: 0px;
  text-align: center;
}
h1 {
  color: var(--primary-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* padding-top: 200px;
  margin-top: 0; */
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

a {
  text-decoration: none;
}
*img {
  display: block;
}
/*=======  FEATURES ========= */

/* features header */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-header {
  color: var(--title-text-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  /* padding-top: 94px; */
}
/* .features li {
  margin-bottom: 94px;
} */

/* features text */
.features-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
.list-of-features {
  display: flex;
  margin-left: -30px;
}


.item-feature {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--card-set-item);
}
/* .portfolio-filter {
  margin-bottom: 20px;
} */

.scope {
  padding-bottom:94px;
}
.section-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-align: center;

  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.photo-work {
  display: flex;
  margin-left: -30px;
  /* padding-bottom: 94px; */
  /* justify-content: space-between; */
}
.item-photo-work {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--card-set-item);
}

/*==========  buttons parameters =====*/
.button-primary {
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;

  color: var(--primary-background-color);
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
}

button {
  font: inherit;
  cursor: pointer;
}

/*=========== TEAM =============*/
/* .container.team {
  padding-top: 94px;
  padding-bottom: 94px;
   background-color: #f5f4fa;
} */
.team{
background-color: #f5f4fa;
padding-top: 94px;
  padding-bottom: 94px;
}
/* 
/* .team { */
  /* background-color: var(--primary-white-color); */
  /* background-color: #f5f4fa; */ 

.team-photo {
  background-color: #ffffff;
  border-bottom: rgba(0, 0, 0, 0.25) solid 4px;
  border-radius: 4px;
}

.team-photo{
  padding: 30px 0px;
  /* text-align: center; */
}
.list.teamcards {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.teamcards li{
  /* width: 270px; */
  margin-right: 30px;
}

.name {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* .team .section-title {
  padding-top: 94px;
  padding-bottom: 50px;
  margin-bottom: 0; */
}

/* .teamset {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px; */
}
/* .teamcards:not(:last-child) {
  margin-right: 30px;
} */
li.team-members{
  margin-right: 30px;
}
ul.list.teamcards{
  margin-left: -30px;
}
/* .team-photo img {
  margin-bottom: 30px;
} */
.team-photo h3 {
  margin-bottom: 10px;
}
/* .team-photo p {
  padding-bottom: 30px;
} */
/* ======  FOOTER ========= */
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .container.footer{
padding: 60px 0px 60px 0px;
} */
.address {
  color: var(--primary-background-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
}
.container.footer a{
  margin-right: 0;
  padding-bottom: 0px;
  padding-top: 0px;
}

/* .footerlogo {
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
} */
/* .list.addressfooter {
  margin-top: 20px;
  /* padding-bottom: 60px; */

/* .list.addressfooter li{
  margin-bottom: 9px;
} */
.list.addressfooter li:not(:last-child) {
  margin-bottom: 9px;
}
ul.list.addressfooter{
  margin-top: 20px;
}


/* .footerlink a {
display:block
}
.footerlink a:not(:last-child) { */
  /* display: block; */
  /* padding-bottom: 9px;
} */

/* .addressfooter li {
  padding-bottom: 9px;
} */
.email {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  display: inline-block;
}

.email:hover,
.email:focus {
  color: var(--accent-color);
}


/* ======  PORTFOLIO PAGE ======= */

.container.portfolio{
  padding: 94px 0px;
}
.nav-portfolio {
  display: flex;
}
ul.list.portfolio-btn {
  display: flex;
  margin-bottom: 34px;
  /* padding-top: 94px; */
  justify-content: center;
}

.button-secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  /* margin-right: 8px; */
  padding: 6px, 22px;
  flex-direction: row;
}
.portfolio-btn li:not(:last-child) {
  
  margin-right: 8px;
}

.button-secondary:focus,
.button-secondary:hover {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}
ul.list-of-exmp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

.list-of-exmp > .item {
  flex-basis: calc(100% / 3 - 60px);
}

.port-description{
padding: 20px 24px;

}
.portfolio-name {
  color: var(--title-text-color);

  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-filter {
  color: var(--primary-text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
}

li.item:nth-child(-n + 6){
  margin-bottom: 30px;
}
/* .list-of-exmp li :nth-last-child(-n + 3){
  margin-bottom: 30px;
} */
/* .list-of-exmp li:nth-child(n + 7) {
  margin-bottom: 0px;
  padding-bottom: 94px;
} */
.item {
  border: #eeeeee solid 1px;
  /* margin-bottom: 30px; */
}
/* .port-description :nth-child(-n + 6){
margin-bottom: 30px;
} */
