html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  outline: 2px solid tomato;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #e5e5e5;
  --primary-background-color: #ffffff;
  --card-set-item: 30px;
}

/* general parameters */
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;

  font-family: Roboto, sans-serif;
}

/* header */
.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  display: flex;
}
.logo-color {
  color: #000000;
}
.logo-color-footer {
  color: #ffffff;
}
.list {
  list-style: none;
}
/* nav */
.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: inline-block;
  margin-right: 50px;
}

.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}
.site-nav-link-current {
  color: var(--accent-color);

  display: inline-block;
  margin-right: 50px;
}

.nav-container {
  display: flex;

  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
}

/* contacts */
.contacts {
  color: var(--primary-text-color);
  display: inline-block;
  margin-left: 50px;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.header-nav {
  padding-bottom: 32px;
  padding-top: 32px;
  padding-left: 93px;
}

/* main section */
.banner {
  background-color: #2f303a;
  text-align: center;
}
.main-title {
  padding: 200px 252px 280px 252px;
  min-width: 696px;
  margin-bottom: 0px;
  text-align: center;
}
h1 {
  color: var(--primary-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  padding-top: 200px;
  margin-top: 0;
}

h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

a {
  text-decoration: none;
}
img {
  display: block;
}
/* Features */
/* features header */
.features-header {
  color: var(--title-text-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 94px;
}
.features li {
  margin-bottom: 94px;
}

/* features text */
.features-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
.list-of-features {
  display: flex;
  margin-left: -30px;
}
.item {
  border: #eeeeee solid 1px;
  margin-bottom: 50px;
}
.item-feature {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--card-set-item);
}
.portfolio-filter {
  margin-bottom: 20px;
}

.section-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-align: center;

  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.photo-work {
  display: flex;
  margin-left: -30px;
  padding-bottom: 94px;
  justify-content: space-between;
}
.item-photo-work {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--card-set-item);
}

/* buttons parameters */
.button-primary {
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;

  color: var(--primary-background-color);
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-bottom: 200px;
}

button {
  font: inherit;
  cursor: pointer;
}

/* Team */
.team {
  background-color: var(--primary-white-color);
}
.team-photo {
  background-color: #ffffff;
  border-bottom: rgba(0, 0, 0, 0.25) solid 4px;
  border-radius: 4px;
}
.teamcards {
  display: flex;
}
.name {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team .section-title {
  padding-top: 94px;
  padding-bottom: 50px;
  margin-bottom: 0;
}

.teamset {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.teamcards li:not(:last-child) {
  margin-right: 30px;
}

.team-photo img {
  margin-bottom: 30px;
}
.team-photo h3 {
  margin-bottom: 10px;
}
.team-photo p {
  padding-bottom: 30px;
}
/* footer */
footer {
  background-color: #2f303a;
}
.address {
  color: var(--primary-background-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
}
.footerlogo {
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
}
.addressfooter {
  padding-bottom: 60px;
}
.addressfooter li {
  padding-bottom: 9px;
}
.email {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  display: inline-block;
}

.email:hover,
.email:focus {
  color: var(--accent-color);
}

/* Portfolio page */

.nav-portfolio {
  display: flex;
}
ul.list.portfolio-btn {
  display: flex;
  margin-bottom: 34px;
  padding-top: 94px;
  justify-content: center;
}
.item img {
  margin-bottom: 20px;
}

.button-secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  margin-right: 8px;
  padding: 6px, 22px;
  flex-direction: row;
}
.button-secondary:focus,
.button-secondary:hover {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}
ul.list-of-exmp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-of-exmp > .item {
  flex-basis: calc(100% / 3 -60px);
}

.cont-portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}
.portfolio-name {
  color: var(--title-text-color);

  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-filter {
  color: var(--primary-text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
}
